name = "cors-proxy-r34-ap"
account_id = "YOUR_ACCOUNT_ID"
workers_dev = true

type = "javascript"

# type = "webpack"
# webpack_config = "webpack.config.js"


[env.production]
name = "cors-proxy-r34-app-production"
zone_id = "YOUR_DOMAIN_ZONE"
route = "example.com/*"

[env.development]
name = "cors-proxy-r34-app-development"
route = "cors-proxy.r34.app/*"