name = "auth-r34-app"
account_id = ""
workers_dev = true

type = "javascript"

# type = "webpack"
# webpack_config = "webpack.config.js"


[env.production]
zone_id = "auth-r34-app-production"
route = "auth.r34.app/*"

[env.development]
name = "auth-r34-app-development"
route = "auth.r34.app/*"