name = "project-name"
account_id = ""
workers_dev = true

type = "javascript"

# type = "webpack"
# webpack_config = "webpack.config.js"


[env.production]
zone_id = "project-name-production"
route = "example.com/*"

[env.development]
name = "project-name-development"
route = "example.com/*"